In [2]:
#일주일의 온도를 temp라는 리스트 형태로 담아보기
temps = [28,29,30,31,32,27,34]

In [3]:
temps[1]

29

In [4]:
temps[3]

31

In [6]:
temps[4] = 29
temps

[28, 29, 30, 31, 29, 27, 34]

In [7]:
temp[7]

NameError: name 'temp' is not defined

In [8]:
len(temps)

7

In [11]:
for i in temps:
        print(i) #순차적으로 출력되는 거 확인

28
29
30
31
29
27
34

In [14]:
questions = ["name", "age"]
answers =["홍길동", 22]

for q,a in zip(questions, answers):
    print(q,a)

name 홍길동
age 22

In [17]:
countries = ["한국", "중국", "일본"]
capitals = ['서울','베이징','도쿄']
populations = [100,200,300]

## 한국의 수도인 서울에는 100명의 인구가 거주중입니다. 

for country, capital, population in zip(countries, capitals, populations) :
    print(f`{country}의 수도인 {capital}dpsms {population}명의 인구가 거주중입니다')

SyntaxError: unterminated string literal (detected at line 8) (3886162444.py, line 8)

In [18]:
heros = []

In [19]:
heros.append('아이언맨')

In [20]:
heros

['아이언맨']

In [21]:
heros.append("토르")
heros.append("헐크")

In [22]:
heros

['아이언맨', '토르', '헐크']

In [23]:
heros.insert(1,"스파이더맨")

In [24]:
heros

['아이언맨', '스파이더맨', '토르', '헐크']

In [25]:
heros.index("토르")

2

In [26]:
heros.index("캡틴아메리카")

ValueError: '캡틴아메리카' is not in list

In [27]:
if "캡틴아메리카" in heros :
    print("캡틴아메리가가 heros에 있음")

In [28]:
heros

['아이언맨', '스파이더맨', '토르', '헐크']

In [29]:
heros.pop(3)

'헐크'

In [30]:
heros

['아이언맨', '스파이더맨', '토르']

In [31]:
heros.remove("스파이더맨")

In [32]:
heros

['아이언맨', '토르']

In [33]:
heros.remove("배트맨")

ValueError: list.remove(x): x not in list

In [34]:
numbers = [123,1231,56456,1156578,56418,156,656,1684,4654468,333548]

In [35]:
max(numbers)

4654468

In [36]:
min(numbers)

123

In [38]:
sum(numbers)

6261318

In [40]:
#리스트를 역순으로 하고 싶다면 reverse
numbers.reverse()

In [41]:
numbers

[333548, 4654468, 1684, 656, 156, 56418, 1156578, 56456, 1231, 123]

In [42]:
numbers.sort()

In [43]:
numbers

[123, 156, 656, 1231, 1684, 56418, 56456, 333548, 1156578, 4654468]

In [44]:
numbers.sort(reverse=True)

In [45]:
numbers

[4654468, 1156578, 333548, 56456, 56418, 1684, 1231, 656, 156, 123]

In [47]:
sorted(numbers) #내장함수 sorted

[123, 156, 656, 1231, 1684, 56418, 56456, 333548, 1156578, 4654468]

In [48]:
data = ['A','B','A','C','D','A','D','D','E']
data.count('A')

3

In [60]:
# 리스트의 두번쨰 큰수를 찾는 거 해보기
scores = [94,23,42,67,88,33,57,93,99,12]

#scores1.sort()
#scores1[-2]

scores.sort(reverse=True)
scores[1]


#scores.remove(max(scores))
#max(scores)

94

In [70]:
#슬라이싱
numbers = [1,2,3,4,5,6,7,8,9,10]

#[4,5,6]
numbers[3:6]

#[4, 5, 6, 7, 8, 9, 10]
numbers[3:]

#[2,4,6,8,10]
numbers[1::2]
#numbers[1:10:2]

#짝수를 'a'...로 수정
numbers[1::2] = ['a','b','c','d','e']
numbers

#홀수를 'A'...로 수정
numbers[::2] = ['A','B','C','D','E']
numbers

['A', 'a', 'B', 'b', 'C', 'c', 'D', 'd', 'E', 'e']

In [78]:
#range를 사용해서 쉽게 데이터 넣기
#numbers2 = list(range(10))
# numbers2 => [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers2 = list(range(1,11))
numbers2

#numbers3= list(range(2,101,2))
#numbers3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [83]:
#2차원리스트
h = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
h[2][0]

7

In [87]:
#enumulate
names = ['철수','영희', '민지']
for i, n in enumerate(names):
    print(f"{i}:{n}")

0:철수
1:영희
2:민지

## Tuple

In [109]:
a = ("apple",)
type(a)

tuple

In [90]:
#튜플은 생성된 항목을 수정할수없다
fruits = ('apple', 'banana','grape')
fruits, type(fruits)

(('apple', 'banana', 'grape'), tuple)

In [91]:
fruits[0]

'apple'

In [92]:
fruits[0] = 'wartermelon'

TypeError: 'tuple' object does not support item assignment

In [93]:
fruits_list = list(fruits)
fruits_list[0] = 'wartermelon'
fruits = tuple(fruits_list)

In [94]:
fruits

('wartermelon', 'banana', 'grape')

In [96]:
#패킹 언패킹 
(a,b,c) = fruits
print(f" a : {a}")
print(f" b : {b}")
print(f" c : {c}")

 a : wartermelon
 b : banana
 c : grape

In [98]:
#리스트도 패킹과 언패킹이 가능하다
[a,b,c] = list(fruits)
print(a,b,c)

wartermelon banana grape

##  세트

In [99]:
alice_hobby = {"축구","농구","야구"}
bob_hobby = {"배구", "수영", "농구"}

In [100]:
alice_hobby | bob_hobby

{'농구', '배구', '수영', '야구', '축구'}

In [102]:
alice_hobby.union(bob_hobby)

{'농구', '배구', '수영', '야구', '축구'}

In [103]:
alice_hobby & bob_hobby

{'농구'}

In [104]:
alice_hobby - bob_hobby

{'야구', '축구'}

In [105]:
alice_hobby.difference(bob_hobby)

{'야구', '축구'}

In [107]:
s = set(["A","B","C","D","A"])
s
#세트는 중복된건 나오지 않는다

{'A', 'B', 'C', 'D'}

## 딕셔너리

In [110]:
user = {}
user

{}

In [112]:
user = {
    "이름" : "홍길동",
    "나이" : 22,
    "성별" : "남자",
    "기술" : ["파이썬", "데이터베이스"],
    "군대" : True
}
user

{'이름': '홍길동', '나이': 22, '성별': '남자', '기술': ['파이썬', '데이터베이스'], '군대': True}

In [113]:
user["이름"]

'홍길동'

In [114]:
user["기술"]

['파이썬', '데이터베이스']

In [115]:
user["체중"]

KeyError: '체중'

In [118]:
#찾고자 하는 키(key), 키가 없을 떄 리턴값
user.get("체중", "70kg")

'70kg'

In [119]:
user.get("이름","김철수")

'홍길동'

In [120]:
user

{'이름': '홍길동', '나이': 22, '성별': '남자', '기술': ['파이썬', '데이터베이스'], '군대': True}

In [122]:
user["체중"]="80kg"

In [123]:
user

{'이름': '홍길동',
 '나이': 22,
 '성별': '남자',
 '기술': ['파이썬', '데이터베이스'],
 '군대': True,
 '체중': '80kg'}

In [124]:
user.pop("성별")
user

{'이름': '홍길동', '나이': 22, '기술': ['파이썬', '데이터베이스'], '군대': True, '체중': '80kg'}

In [126]:
user.pop("키") #if "키" in user

KeyError: '키'

user

In [127]:
for key in user :
    print(key)

이름
나이
기술
군대
체중

In [128]:
user.keys()

dict_keys(['이름', '나이', '기술', '군대', '체중'])

In [129]:
user.values()

dict_values(['홍길동', 22, ['파이썬', '데이터베이스'], True, '80kg'])

In [130]:
#키와 값을 동시에 출력하고 싶다면?
for k,v in user.items() :
    print(f"k: {k}, v:{v}")

k: 이름, v:홍길동
k: 나이, v:22
k: 기술, v:['파이썬', '데이터베이스']
k: 군대, v:True
k: 체중, v:80kg