## 반복문
```
if 조건식 : 
    #실행로직
elif 조건식2 :
    #실행로직2
else :
    #실행로직3
```

In [3]:
money = 17000

if money> 15000 :
    print("택시타자")
else :
    print("버스타자")

택시타자

In [4]:
#실습
'''
- 사용자에게 출생년도 입력
    ```
    - 1924 가장 위대한 세대
    - 1925~1945  침묵세대
    - 1946~1964 베이비붐 세대
    - 1965~1980 : X세대
    - 1981~1996 : 밀레니얼 세대
    - 1997 ~ z세대
    ```
    출력 
    - 나는 {}년에 태어나 {}세대에 속합니다.
'''

'\n- 사용자에게 출생년도 입력\n    ```\n    - 1924 가장 위대한 세대\n    - 1925~1945  침묵세대\n    - 1946~1964 베이비붐 세대\n    - 1965~1980 : X세대\n    - 1981~1996 : 밀레니얼 세대\n    - 1997 ~ z세대\n    ```\n    출력 \n    - 나는 {}년에 태어나 {}세대에 속합니다.\n'

In [9]:
year = int(input("출생년도를 입력학세요 :"))
generation = ""
if year <= 1924 :
    generation = "가장 위대한 세대"
elif 1925 <= year <=1945:
    generation = "침묵세대"
elif 1946 <= year <= 1964 :
    generation = "베이비붐 세대"
elif 1965 <= year <= 1980 :
    generation = "X세대"
elif 1981 <= year <= 1996 :
    generation = "밀레니얼 세대"
elif 1997<= year :
    generation = "Z세대"
    
print(f"나는 {year}년에 태어나 {generation}에 속합니다.")

출생년도를 입력학세요 :2000
나는 2000년에 태어나 Z세대에 속합니다.

In [10]:
#실습

# - 상품 금액 및 결제 카드를 입력
# - 상품 금앱이 20000 초과이고 현대카드이면 배송비 3000
# - 상품 금액이 50000 초과이거나 신한카드면 배송비 2000
# - 그외 배송비 5000
#- 최종적으로 상품 금액과 전체 결제 금액 출력

In [17]:
price = int(input("상품금액을 입력하세요 : "))
card = str(input("결제카드를 입력하세요 : "))
shipping_cost = ""
if price > 20000 and card == "현대카드" :
    shipping_cost = 3000
elif price > 50000 or card == "신한카드" :
    shipping_cost = 2000
else :
    post = 5000
print(f"{price},  {price +shipping_cost}")

상품금액을 입력하세요 : 20000
결제카드를 입력하세요 : 신한카드
20000,  22000

In [18]:
#실습 ( 윤년 판단) 

# - 연도 입력 받기
# - 윤년은 4로 나누어 떨어지는 해 + 중에서 100으로 나누어 떨어지지 않거나 or 400으로 나누어 떨어지는 해입니다.
# - 출력
# 연도를 입력하세요 : 2001
# 2001년은 윤년이 아닙니다.

In [20]:
put_year = int(input("연도를 입력하세요 : "))
yun = ""
if (put_year % 4 ==0 and year % 100 !=0) or year % 400 == 0 :
    print(f"{put_year}는 윤년이다.")
else:
    print(f"{put_year}는 윤년이 아니다")

연도를 입력하세요 : 2023
2023는 윤년이다.

# 반복문

- 횟수 for문
for [] in [] :
    //실행로직
    
- 조건 whie문
while 조건문:
    //실행로직

In [22]:
for i in range(1,11):
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [23]:
data = ["A","B","C","D"]

for d in data:
    print(d)

A
B
C
D

In [1]:
#실습

#구구단 
#~ 몇 단을 입력받고 
#- 구구단 진행

dan = int(input("단을 입력해주세요"))
for i in range(1,10):
    print( f"{dan} x {i} = {dan*i}")

단을 입력해주세요3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [2]:
#while문으로 구구단

num = int(input("단을 입력해주세요"))
#i = 1
#while i <10 :
#    print(f"{num} * {i} = {num*i}")
#    i += 1

#i = 1
#while True :
#    print(f"{num} * {i} = {num*i}")
#    i += 1
#    if i == 10:
#        break

i=0
while True :
    i += 1
    if i == 10:
        break
    if i == 5:
        continue
    print(f"{num}*{i} = {num*i}")

단을 입력해주세요5
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45

In [4]:
#1부터 100까지 3의 배수의 합
#sum(list(range(3,101,3)))
sum3 = 0 

for n in range(1,101) :
    if n % 3 ==0 :
        sum3 +=n
sum3

1683

In [4]:
# 0 또는 1 또는 2 입력받고
# 0이면 아무것도 출력하지 않고 중단
# 1이면 '성공' 출력하고 계속
# 2 이면 '성공' 출력하고 중단

while True:
    n = int(input("숫자 0,1,2 중 하나를 입력하세요"))
    
    if n ==0:
        break
    elif n == 1:
        print("성공")
    elif n ==2 :
        continue

숫자 0,1,2 중 하나를 입력하세요2
숫자 0,1,2 중 하나를 입력하세요0

In [5]:
*a, d = ('a','b','c','d')
a

['a', 'b', 'c']

In [12]:
*a, b, c = ('가','나','다', '라', '마')

In [13]:
a

['가', '나', '다']